@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.row div[class^='col-'] {
  padding-left: 10px;
  padding-right: 10px;
}

.row .col-1 {
  width: 8.33333%;
}

.row .col-2 {
  width: 16.66667%;
}

.row .col-3 {
  width: 25%;
}

.row .col-4 {
  width: 33.33333%;
}

.row .col-5 {
  width: 41.66667%;
}

.row .col-6 {
  width: 50%;
}

.row .col-7 {
  width: 58.33333%;
}

.row .col-8 {
  width: 66.66667%;
}

.row .col-9 {
  width: 75%;
}

.row .col-10 {
  width: 83.33333%;
}

.row .col-11 {
  width: 91.66667%;
}

.row .col-12 {
  width: 100%;
}

.row .col-lg-1 {
  width: 8.33333%;
}

.row .col-lg-2 {
  width: 16.66667%;
}

.row .col-lg-3 {
  width: 25%;
}

.row .col-lg-4 {
  width: 33.33333%;
}

.row .col-lg-5 {
  width: 41.66667%;
}

.row .col-lg-6 {
  width: 50%;
}

.row .col-lg-7 {
  width: 58.33333%;
}

.row .col-lg-8 {
  width: 66.66667%;
}

.row .col-lg-9 {
  width: 75%;
}

.row .col-lg-10 {
  width: 83.33333%;
}

.row .col-lg-11 {
  width: 91.66667%;
}

.row .col-lg-12 {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .row .col-md-1 {
    width: 8.33333%;
  }
  .row .col-md-2 {
    width: 16.66667%;
  }
  .row .col-md-3 {
    width: 25%;
  }
  .row .col-md-4 {
    width: 33.33333%;
  }
  .row .col-md-5 {
    width: 41.66667%;
  }
  .row .col-md-6 {
    width: 50%;
  }
  .row .col-md-7 {
    width: 58.33333%;
  }
  .row .col-md-8 {
    width: 66.66667%;
  }
  .row .col-md-9 {
    width: 75%;
  }
  .row .col-md-10 {
    width: 83.33333%;
  }
  .row .col-md-11 {
    width: 91.66667%;
  }
  .row .col-md-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 812px) {
  .row .col-sm-1 {
    width: 8.33333%;
  }
  .row .col-sm-2 {
    width: 16.66667%;
  }
  .row .col-sm-3 {
    width: 25%;
  }
  .row .col-sm-4 {
    width: 33.33333%;
  }
  .row .col-sm-5 {
    width: 41.66667%;
  }
  .row .col-sm-6 {
    width: 50%;
  }
  .row .col-sm-7 {
    width: 58.33333%;
  }
  .row .col-sm-8 {
    width: 66.66667%;
  }
  .row .col-sm-9 {
    width: 75%;
  }
  .row .col-sm-10 {
    width: 83.33333%;
  }
  .row .col-sm-11 {
    width: 91.66667%;
  }
  .row .col-sm-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .row .col-xs-1 {
    width: 8.33333%;
  }
  .row .col-xs-2 {
    width: 16.66667%;
  }
  .row .col-xs-3 {
    width: 25%;
  }
  .row .col-xs-4 {
    width: 33.33333%;
  }
  .row .col-xs-5 {
    width: 41.66667%;
  }
  .row .col-xs-6 {
    width: 50%;
  }
  .row .col-xs-7 {
    width: 58.33333%;
  }
  .row .col-xs-8 {
    width: 66.66667%;
  }
  .row .col-xs-9 {
    width: 75%;
  }
  .row .col-xs-10 {
    width: 83.33333%;
  }
  .row .col-xs-11 {
    width: 91.66667%;
  }
  .row .col-xs-12 {
    width: 100%;
  }
}

.c-title {
  font-size: 2.2rem;
  font-weight: bolder;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #112d4e;
}

@media only screen and (max-width: 450px) {
  .c-title {
    font-size: 2rem;
  }
}

.c-movie-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.c-label {
  font-size: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  min-width: 120px;
  max-width: 100%;
  color: #112d4e;
}

@media only screen and (max-width: 450px) {
  .c-label {
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 5px;
  }
}

.c-btn {
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  margin-bottom: 10px;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: transparent;
}

.c-btn:hover {
  opacity: 0.7;
}

.c-btn.c-btn--primary {
  background-color: #112d4e;
  color: white;
}

.c-btn.c-btn--report {
  color: #dc143c;
  border-color: #dc143c;
  margin-bottom: 0;
}

.c-paginate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.c-paginate__item {
  margin: 0 2px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-paginate__item:hover {
  background-color: #112d4e;
  color: #fff;
  opacity: 0.7;
}

.c-paginate__item.selected {
  background-color: #112d4e;
  color: #fff;
}

.c-paginate__prev, .c-paginate__next {
  font-size: 2.6rem;
}

.c-modal {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
  overflow: auto;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  pointer-events: none;
}

.c-modal.is-open {
  opacity: 1;
  pointer-events: all;
}

.c-modal__close {
  position: fixed;
  right: 50px;
  top: 50px;
  color: #fff;
}

@media only screen and (max-width: 812px) {
  .c-modal__close {
    top: 20px;
    right: 20px;
  }
}

.c-modal__close .bx {
  font-size: 3rem;
}

.c-paragraphy {
  font-size: 1.6rem;
}

.c-paragraphy--small {
  font-size: 1.4rem;
}

.c-line-height-2 {
  line-height: 1.5;
}

.c-section {
  margin-bottom: 70px;
  position: relative;
}

.c-section__content {
  overflow: hidden;
  padding: 30px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 450px) {
  .c-section__content {
    padding: 20px;
  }
}

.c-btn-icon {
  border: none;
  outline: none;
  background: transparent;
  width: 60px;
  height: 60px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  border: 3px solid #fff;
  cursor: pointer;
}

@media only screen and (max-width: 812px) {
  .c-btn-icon {
    width: 40px;
    height: 40px;
  }
}

img {
  max-width: 100%;
}

.u-inline-block {
  display: inline-block;
}

.u-flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.u-a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-j-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.u-t-center {
  text-align: center;
}

.u-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.u-fullheight {
  height: 100vh;
}

.u-fullwidth {
  width: 100vw;
}

.u-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.u-fade {
  opacity: 0;
  -webkit-transition: 700ms ease-in-out;
  transition: 700ms ease-in-out;
}

.u-fade.u-fade--show {
  opacity: 1;
}

.u-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.img-ratio2x3 {
  padding-top: calc((3 / 2) * 100%);
  position: relative;
}

.img-ratio2x3 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.u-p-20 {
  padding: 20px;
}

.u-font--bold {
  font-weight: bold;
}

.u-shadow-4 {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.u-shadow-8 {
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

.u-j-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.ratio9x16 {
  position: relative;
  padding-top: 56.25%;
}

.l-container {
  margin: 0 auto;
  max-width: 1200px;
}

@media only screen and (max-width: 1200px) {
  .l-container {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 812px) {
  .l-container {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 450px) {
  .l-container {
    width: 100%;
    padding: 0 20px;
  }
}

.p-informations__item {
  margin-bottom: 20px;
}

@media only screen and (max-width: 450px) {
  .p-informations__item {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 812px) {
  .p-informations__poster {
    margin-bottom: 30px;
  }
}

.p-informations__total {
  margin-top: 20px;
  max-width: 250px;
}

@media only screen and (max-width: 450px) {
  .p-informations__total {
    margin-top: 0;
  }
}

.p-informations__total__label {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

@media only screen and (max-width: 812px) {
  .p-informations__total__label {
    text-align: left;
  }
}

.p-informations__total__box {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 20px;
}

.p-informations__total__scores {
  text-align: center;
  margin-left: -50px;
}

@media only screen and (max-width: 1200px) {
  .p-informations__total__scores {
    margin-left: -40px;
  }
}

.p-informations__total__scores img {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 1200px) {
  .p-informations__total__scores img {
    width: 40px;
    height: 40px;
  }
}

.p-informations__total__scores p {
  font-size: 6rem;
  font-weight: bolder;
  line-height: 1;
}

@media only screen and (max-width: 1200px) {
  .p-informations__total__scores p {
    font-size: 4rem;
  }
}

.p-informations__total__reviews {
  margin-top: 10px;
  font-size: 1.6rem;
  text-align: center;
  display: block;
}

.p-actors__item {
  width: 150px;
}

@media only screen and (max-width: 812px) {
  .p-actors__item {
    width: 105px;
  }
}

.p-actors__item__img {
  margin-bottom: 10px;
}

.on-hover {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.p-videos__item {
  position: relative;
}

.p-videos__item:hover > .on-hover {
  opacity: 1;
  pointer-events: all;
}

.p-videos__item > .on-hover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#videos.slick-slider {
  margin: 0 -15px;
}

@media only screen and (max-width: 450px) {
  #videos.slick-slider {
    margin: 0 calc(-15px / 2);
  }
}

.slick-slide {
  margin-right: 15px;
  margin-left: 15px;
}

@media only screen and (max-width: 450px) {
  .slick-slide {
    margin-right: calc(15px / 2);
    margin-left: calc(15px / 2);
  }
}

.p-mod__scores__item {
  margin-bottom: 20px;
}

.p-reviews__login {
  padding: 50px 0;
  margin-bottom: 20px;
}

.p-reviews__login__text {
  margin-bottom: 20px;
  line-height: 1;
  text-align: center;
}

.p-reviews__login__button {
  display: block;
  margin: 0 auto;
}

.u-pe-none {
  pointer-events: none;
}

.p-reviews__item {
  margin-bottom: 30px;
  padding: 30px;
}

@media only screen and (max-width: 450px) {
  .p-reviews__item {
    padding: calc(30px / 2);
  }
}

.p-reviews__item__stars {
  margin-bottom: 5px;
}

.p-reviews__item__top-sp {
  width: 100%;
}

.p-reviews__item__action {
  margin-left: 10px;
}

.p-reviews__item__user {
  width: 160px;
  text-align: center;
  padding-right: 20px;
}

@media only screen and (max-width: 812px) {
  .p-reviews__item__user {
    width: 50px;
  }
}

.p-reviews__item__user img {
  width: 60px;
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-reviews__item__name {
  margin-bottom: 10px;
}

@media only screen and (max-width: 812px) {
  .p-reviews__item__name {
    margin-bottom: 0;
  }
}

.p-reviews__item__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.p-reviews__item__top {
  margin-bottom: 20px;
}

.p-reviews__item__text {
  margin-bottom: 50px;
}

.p-reviews__item__date {
  position: absolute;
  right: 0;
  bottom: 0;
}

.p-reviews__paginate {
  margin: 0 auto;
}

.slider-control {
  position: absolute;
  z-index: 1;
  width: calc(100% + 40px);
  height: calc(100% + 35px);
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

@media only screen and (max-width: 450px) {
  .slider-control {
    width: calc(100% + 30px);
  }
}

.slider-control__previous, .slider-control__next {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #112d4e;
  color: white;
  pointer-events: all;
  font-size: 2.6rem;
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .slider-control__previous, .slider-control__next {
    width: 30px;
    height: 30px;
  }
}

.pc-only {
  display: block;
}

@media only screen and (max-width: 812px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}

@media only screen and (max-width: 812px) {
  .sp-only {
    display: block;
  }
}
/*# sourceMappingURL=detail.css.map */